<!DOCTYPE html> 
<html lang="en">

	<head>
	<!-- META tags help search engines identify your content more easily -->
		<meta charset="utf-8" /> <!-- Specifies the character encoding for the HTML document -->
		<meta name="author" content="RAJE Consulting">
		<meta name="keywords" content="Carnegie Mellon University, Information Systems, Rae Burket Shoes">
		<meta name="description" content="Jane Doe Professional Website">

		<!-- The title will appear in the menu bar of the browser -->
		<title>Rae Burket Shoes</title>

		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' rel='stylesheet' type='text/css'>
		<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link type="text/css" rel="stylesheet" href="../../static/../../static/css/jquery.mmenu.all.css" />
		<style type="text/css">
			.background{
				height:25%;
				width:35%;
				margin:auto;
				margin-top:12%;
				text-align: center;
				background-color: #242424;
				opacity: 0.9;
				border-radius:12px;
				padding:20px;
			}
			body{
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5))), url(../../static/images/landing-page2.jpg) no-repeat center center fixed;
				background-size: cover;

			}
		</style>
		
	</head>

    <body>
    	<div class="background">
			<img src="../../static/images/raeburket-logo.PNG" width="100px" height="100px">
			<br>
			<img src="../../static/images/raeburket-name.PNG" width="200px">
			<div class="contact-form">
				<form action="index.html">
					<span><input type="submit" value="English"></span>
				</form>
				<form action="index.html">
					<span><input type="submit" value="French"></span>
				</form>
				<form action="index.html">
					<span><input type="submit" value="Spanish"></span>
				</form>
				<form action="index.html">
					<span><input type="submit" value="Chinese"></span>
				</form>
				<form action="index.html">
					<span><input type="submit" value="Italian"></span>
				</form>
			</div>
    	</div>

    </body>

</html>